@import 'overrides';
@import 'animate';
@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

html {
  -webkit-font-smoothing: antialiased;
}

.middle {
  margin: auto;
  position: absolute;
  height: 294px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.title {
  p {
    color: #8c9398;
    letter-spacing: 1px;
    word-spacing: 1px;
  }

  h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 38px;

    span {
      color: #a1a9b0
    }

    img {
      height: 38px;
    }
  }
}

.btn {
  transition: all 0.5s;

  &:focus {
    outline: 0 !important;
  }
}

.btn-linkedin {
  background: #3dc9b3;
  padding: 20px 40px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  box-shadow: 0px 3px 0px 0px #309383;
  margin: 50px 0 50px;
  font-weight: bold;

  &:active {
    box-shadow: 0px 3px 0px 0px #309383;
  }

  &:hover,
  &:focus {
    background: rgba(61, 201, 179, 0.6);
    color: #fff;
  }
}
